.button {
  /* sizing */
  padding: 0.5rem 1.25rem;

  /* typography */
  font-size: 0.75rem;
  font-weight: 500;
  text-align: left;
  text-decoration: none;

  /* flex */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  /* styling */
  background-color: transparent;
  border: 1px solid currentColor;
  outline: 2px solid var(--_outline_color, currentColor);
  outline-offset: -2px;
  --_transition_duration: 0.2s;
  transition:
    outline-offset var(--_transition_duration) ease-in-out,
    outline-color var(--_transition_duration) ease-in-out,
    background-color var(--_transition_duration) ease-in-out,
    border-color var(--_transition_duration) ease-in-out,
    box-shadow var(--_transition_duration) ease-in-out;

  &:hover,
  &:focus-visible {
    outline-width: 2px;
    outline-offset: 2px;

    & .icon {
      translate: 0.35rem;
    }
  }
}

.primary,
.secondary:global(.active) {
  background-color: var(--accent);
  --_outline_color: var(--accent);
  color: var(--text-on-accent);
  border-color: var(--accent);

  &:hover {
    background-color: var(--accent);
    --_box-shadow: var(--accent);
  }

  &:focus-visible {
    outline-color: var(--text);
  }
}

.secondary {
  color: var(--text);
  background-color: var(--secondary);
  --_outline_color: var(--secondary);
  border-color: transparent;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.icon {
  /* sizing */
  --_size: 1.5rem;
  width: var(--_size);
  height: var(--_size);
  font-size: var(--_size);

  /* animation */
  translate: 0;
  transition: translate var(--_transition_duration) ease-in-out;
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;

  &:focus-visible {
    opacity: 1;
    pointer-events: auto;
  }
}
