.section {
}

.header {
	/* position */
	position: relative;

  /* sizing */
  width: 100%;
  height: 350px;

	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.thumbnail {
  /* position */
  position: absolute;
	inset: 0;
	z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;

  & img {
    /* sizing */
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &::after {
    content: "";

    /* position */
    position: absolute;
    inset: 0;
    z-index: 1;

    /* styling */
    background: rgba(0, 0, 0, 0.5);
    background: #000000;
    background: linear-gradient(
      0deg,
      rgba(from var(--background) r g b / 1) 0%,
      rgba(from var(--background) r g b / 0) 100%
    );
  }
}

.header .container {
	/* sizing */
	width: var(--content-max-width);
	height: fit-content;

	/* flex */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.info {
	/* flex */
	display: flex;
	flex-direction: column;
}

.header .title {
	/* spacing */
	margin: 0;
	padding: 0;

	/* text */
	font-size: 2rem;
	font-weight: bold;
	color: var(--text);
}

.main {
	/* sizing */
	width: var(--content-max-width);
	margin-inline: auto;
}